name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for branch 1 and on start directory, command.txt file changes or by manually running the workflow from actions tab
on:
  schedule:
    - cron: "0 20 * * *"

  workflow_dispatch:

env: # Or as an environment variable
  user: ${{ secrets.USER }}
  key: ${{ secrets.KEY }}
  recovery: ${{ secrets.RECOVERY }}

jobs:
  build1:
    runs-on: windows-latest
    steps:
      - name: clone
        shell: bash
        run: |
          mkdir C:/quran-videos.git
          REPO="https://${GITHUB_ACTOR}:${{ secrets.GITHUB_TOKEN }}@github.com/${GITHUB_REPOSITORY}.git"
          git clone $REPO C:/quran-videos.git

      - name: pull
        shell: bash
        working-directory: C:/quran-videos.git
        run: git pull

      - name: Get cache directory for npm
        id: cache-dir
        working-directory: C:/quran-videos.git
        shell: bash
        run: echo "::set-output name=npmcache::$(npm config get cache)"

      - name: Trying to use the old cache if available
        uses: actions/cache@v2
        with:
          path: ${{ steps.cache-dir.outputs.npmcache }}
          key: ${{ runner.os }}-cache-${{ hashFiles('**/package.json') }}
          restore-keys: |
            ${{ runner.os }}-cache-
            ${{ runner.os }}-

      - name: download part
        working-directory: C:/quran-videos.git
        shell: cmd
        run: |
          choco install ffmpeg wget
          wget https://github.com/fawazahmed0/quran-videos/releases/download/v0.0.6/subtitles.7z
          wget https://github.com/fawazahmed0/quran-videos/releases/download/v0.0.4/pixabay.videos.7z.001
          wget https://github.com/fawazahmed0/quran-videos/releases/download/v0.0.4/pixabay.videos.7z.002
          wget https://github.com/fawazahmed0/quran-videos/releases/download/v0.0.5/qatami.audios.v3.7z
          wget https://github.com/fawazahmed0/quran-videos/releases/download/v0.0.2/qatamiaudios.7z
          wget https://github.com/fawazahmed0/quran-videos/releases/download/v0.0.3/qatami.audios.2.7z
      - name: zip extract
        working-directory: C:/quran-videos.git
        shell: cmd
        run: |
          7z x subtitles.7z
          7z x pixabay.videos.7z.001
          7z x qatami.audios.v3.7z
          7z x -y qatamiaudios.7z -oaudios
          7z x -y qatami.audios.2.7z -oaudios
      - name: node part
        working-directory: C:/quran-videos.git
        env:
          tempdir: ${{ runner.temp }}
        run: |
          npm install
          node hardcodesubv2.js

      # commiting and pushing changes
      - name: commit and push
        if: ${{ always() }}
        shell: bash
        working-directory: C:/quran-videos.git
        run: |
          git config --global user.email github-actions@github.com
          git config --global user.name github-actions
          git pull
          git add -A
          git commit -m 'Add uploaded links'
          git push

  build2:
    needs: build1
    runs-on: windows-latest
    steps:
      - name: clone
        shell: bash
        run: |
          mkdir C:/quran-videos.git
          REPO="https://${GITHUB_ACTOR}:${{ secrets.GITHUB_TOKEN }}@github.com/${GITHUB_REPOSITORY}.git"
          git clone $REPO C:/quran-videos.git

      - name: pull
        shell: bash
        working-directory: C:/quran-videos.git
        run: git pull

      - name: Get cache directory for npm
        id: cache-dir
        working-directory: C:/quran-videos.git
        shell: bash
        run: echo "::set-output name=npmcache::$(npm config get cache)"

      - name: Trying to use the old cache if available
        uses: actions/cache@v2
        with:
          path: ${{ steps.cache-dir.outputs.npmcache }}
          key: ${{ runner.os }}-cache-${{ hashFiles('**/package.json') }}
          restore-keys: |
            ${{ runner.os }}-cache-
            ${{ runner.os }}-

      - name: download part
        working-directory: C:/quran-videos.git
        shell: cmd
        run: |
          choco install ffmpeg wget
          wget https://github.com/fawazahmed0/quran-videos/releases/download/v0.0.6/subtitles.7z
          wget https://github.com/fawazahmed0/quran-videos/releases/download/v0.0.4/pixabay.videos.7z.001
          wget https://github.com/fawazahmed0/quran-videos/releases/download/v0.0.4/pixabay.videos.7z.002
          wget https://github.com/fawazahmed0/quran-videos/releases/download/v0.0.5/qatami.audios.v3.7z
          wget https://github.com/fawazahmed0/quran-videos/releases/download/v0.0.2/qatamiaudios.7z
          wget https://github.com/fawazahmed0/quran-videos/releases/download/v0.0.3/qatami.audios.2.7z
      - name: zip extract
        working-directory: C:/quran-videos.git
        shell: cmd
        run: |
          7z x subtitles.7z
          7z x pixabay.videos.7z.001
          7z x qatami.audios.v3.7z
          7z x -y qatamiaudios.7z -oaudios
          7z x -y qatami.audios.2.7z -oaudios
      - name: node part
        working-directory: C:/quran-videos.git
        env:
          tempdir: ${{ runner.temp }}
        run: |
          npm install
          node hardcodesubv2.js

      # commiting and pushing changes
      - name: commit and push
        if: ${{ always() }}
        shell: bash
        working-directory: C:/quran-videos.git
        run: |
          git config --global user.email github-actions@github.com
          git config --global user.name github-actions
          git pull
          git add -A
          git commit -m 'Add uploaded links'
          git push
  build3:
    needs: [build1, build2]
    runs-on: windows-latest
    steps:
      - name: clone
        shell: bash
        run: |
          mkdir C:/quran-videos.git
          REPO="https://${GITHUB_ACTOR}:${{ secrets.GITHUB_TOKEN }}@github.com/${GITHUB_REPOSITORY}.git"
          git clone $REPO C:/quran-videos.git

      - name: pull
        shell: bash
        working-directory: C:/quran-videos.git
        run: git pull

      - name: Get cache directory for npm
        id: cache-dir
        working-directory: C:/quran-videos.git
        shell: bash
        run: echo "::set-output name=npmcache::$(npm config get cache)"

      - name: Trying to use the old cache if available
        uses: actions/cache@v2
        with:
          path: ${{ steps.cache-dir.outputs.npmcache }}
          key: ${{ runner.os }}-cache-${{ hashFiles('**/package.json') }}
          restore-keys: |
            ${{ runner.os }}-cache-
            ${{ runner.os }}-

      - name: download part
        working-directory: C:/quran-videos.git
        shell: cmd
        run: |
          choco install ffmpeg wget
          wget https://github.com/fawazahmed0/quran-videos/releases/download/v0.0.6/subtitles.7z
          wget https://github.com/fawazahmed0/quran-videos/releases/download/v0.0.4/pixabay.videos.7z.001
          wget https://github.com/fawazahmed0/quran-videos/releases/download/v0.0.4/pixabay.videos.7z.002
          wget https://github.com/fawazahmed0/quran-videos/releases/download/v0.0.5/qatami.audios.v3.7z
          wget https://github.com/fawazahmed0/quran-videos/releases/download/v0.0.2/qatamiaudios.7z
          wget https://github.com/fawazahmed0/quran-videos/releases/download/v0.0.3/qatami.audios.2.7z
      - name: zip extract
        working-directory: C:/quran-videos.git
        shell: cmd
        run: |
          7z x subtitles.7z
          7z x pixabay.videos.7z.001
          7z x qatami.audios.v3.7z
          7z x -y qatamiaudios.7z -oaudios
          7z x -y qatami.audios.2.7z -oaudios
      - name: node part
        working-directory: C:/quran-videos.git
        env:
          tempdir: ${{ runner.temp }}
        run: |
          npm install
          node hardcodesubv2.js

      # commiting and pushing changes
      - name: commit and push
        if: ${{ always() }}
        shell: bash
        working-directory: C:/quran-videos.git
        run: |
          git config --global user.email github-actions@github.com
          git config --global user.name github-actions
          git pull
          git add -A
          git commit -m 'Add uploaded links'
          git push
  build4:
    needs: [build1, build2, build3]
    runs-on: windows-latest
    steps:
      - name: clone
        shell: bash
        run: |
          mkdir C:/quran-videos.git
          REPO="https://${GITHUB_ACTOR}:${{ secrets.GITHUB_TOKEN }}@github.com/${GITHUB_REPOSITORY}.git"
          git clone $REPO C:/quran-videos.git

      - name: pull
        shell: bash
        working-directory: C:/quran-videos.git
        run: git pull

      - name: Get cache directory for npm
        id: cache-dir
        working-directory: C:/quran-videos.git
        shell: bash
        run: echo "::set-output name=npmcache::$(npm config get cache)"

      - name: Trying to use the old cache if available
        uses: actions/cache@v2
        with:
          path: ${{ steps.cache-dir.outputs.npmcache }}
          key: ${{ runner.os }}-cache-${{ hashFiles('**/package.json') }}
          restore-keys: |
            ${{ runner.os }}-cache-
            ${{ runner.os }}-

      - name: download part
        working-directory: C:/quran-videos.git
        shell: cmd
        run: |
          choco install ffmpeg wget
          wget https://github.com/fawazahmed0/quran-videos/releases/download/v0.0.6/subtitles.7z
          wget https://github.com/fawazahmed0/quran-videos/releases/download/v0.0.4/pixabay.videos.7z.001
          wget https://github.com/fawazahmed0/quran-videos/releases/download/v0.0.4/pixabay.videos.7z.002
          wget https://github.com/fawazahmed0/quran-videos/releases/download/v0.0.5/qatami.audios.v3.7z
          wget https://github.com/fawazahmed0/quran-videos/releases/download/v0.0.2/qatamiaudios.7z
          wget https://github.com/fawazahmed0/quran-videos/releases/download/v0.0.3/qatami.audios.2.7z
      - name: zip extract
        working-directory: C:/quran-videos.git
        shell: cmd
        run: |
          7z x subtitles.7z
          7z x pixabay.videos.7z.001
          7z x qatami.audios.v3.7z
          7z x -y qatamiaudios.7z -oaudios
          7z x -y qatami.audios.2.7z -oaudios
      - name: node part
        working-directory: C:/quran-videos.git
        env:
          tempdir: ${{ runner.temp }}
        run: |
          npm install
          node hardcodesubv2.js

      # commiting and pushing changes
      - name: commit and push
        if: ${{ always() }}
        shell: bash
        working-directory: C:/quran-videos.git
        run: |
          git config --global user.email github-actions@github.com
          git config --global user.name github-actions
          git pull
          git add -A
          git commit -m 'Add uploaded links'
          git push
